@{
    ViewData["Title"] = "Novo contato";
}
<div class="text-center">
<h1>Criar novo contato</h1>
<br><br>
<form>
    <div class="mb-3">
    <label for="cel" class="form-label">Telefone</label>
    <input type="tel" class="form-control" id="cel">
  </div>
  <div class="mb-3">
    <label for="Email" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="Email">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
</div>