@model ContatoModel
@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center"><h1 class="display-4">Editar contato existente</h1></div>

<div class="text-right">
<br><br>
<form style="width:50vw; margin: 0 auto" method="post" asp-controller="Contato" asp-action="alterar">
    <input type="hidden" asp-for="Id">
   <div class="mb-3">
    <label for="Name" class="form-label">Nome Completo</label>
    <input type="text" class="form-control" id="Name" asp-for="Nome">
  </div>
  
  <div class="mb-3">
    <label for="Email" class="form-label">Email</label>
    <input type="email" class="form-control" id="Email" asp-for="Email">
  </div>
  
  <div class="mb-3">
    <label for="cel" class="form-label">Celular</label>
    <input type="tel" class="form-control" id="cel" asp-for="celular">
  </div>
  
  <div class="text-center">
    <div class="d-grid gap-2 d-md-block">
      <button type="submit" class="btn btn-primary">Alterar</button>
      <a asp-controller="Contato" asp-action="index" class="btn btn-secondary" role="button">Voltar</a>
    </div>
  </div>

</form>
</div>