@{
    ViewData["Title"] = "Listagem de contatos";
}
<div class="text-center">
<h1>Listagem de contatos cadastrados!</h1>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
      <th scope="col"><a asp-controller="Contato" asp-action="criar"><button type="button" class="btn btn-success">Criar novo contato</button></a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button">Editar</button>
            <button class="btn btn-danger" type="button">Apagar</button>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
      <td>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button">Editar</button>
            <button class="btn btn-danger" type="button">Apagar</button>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>kjkjkjkjkj</td>
      <td>twitter</td>
      <td>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button">Editar</button>
            <button class="btn btn-danger" type="button">Apagar</button>
        </div>
      </td>

    </tr>
  </tbody>
</table>
</div>
